<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Tracker App</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Today's Plan</h1>
      <form action="/addtask" method="POST">
        <input
          class="newtask"
          type="text"
          name="newtask"
          placeholder="What do I need to do?"
        />
        <button>Add Task</button>
        <h2>To Do:</h2>
        <!-- JS in order to create a new task-->
        <% for( var i = 0; i < task.length; i++){ %>
        <div class="task">
          <!-- Displaying the newtask task[i], .task displaying only the "task:" part of the JSON object -->
          <input type="text" name="check" value="<%= task[i].task %>" />
          <button
            class="edit"
            formaction="/edittask/<%=task[i].id%>"
            type="submit"
          >
            Edit
          </button>
          <button formaction="/removetask/<%=task[i].id%>" type="submit">
            Remove
          </button>
        </div>
        <!-- Makes more than one task appear -->
        <% } %>
      </form>
    </div>
  </body>
</html>
